<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lab 9.3</title>

</head>

<body>
    <h1>LED Status</h1>
    <h3>LED 1 : {{led1status}}</h3>
    <h3>LED 2 : {{led2status}}</h3>
    <form action="/led1" method="POST">

        <label for="Led1"></label><br>

        <input type="submit" value="led1">

    </form>

    <form action="/led2" method="POST">

        <label for="Led2"></label><br>

        <input type="submit" value="led2">

    </form>

</body>

</html>